.homepage {
  height: 85vh;
  width: 100%;
  background-image: url(https://www.raisingcanes.com/sites/default/files/CraveableQuality_WebsiteSlider.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  object-fit: cover; }

@media (max-width: 768px) {
  .homepage {
    background-size: contain;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: black;
    object-fit: cover; } }

@media (max-width: 500px) {
  .homepage {
    background-color: black;
    width: 500px;
    background-size: contain; } }
